/*using LESS*/
.o-nav-line{
	flex-wrap: nowrap;
	display: flex;
	align-items: center;
	font-family: 'OpenSans-Light';
	.o-link {
		font-family: 'OpenSans-Light';
		font-style: italic;
		text-transform: capitalize!important;
		position: relative;
		padding-left: 20px;
		color: #7c7c7c!important;
		display: inline-flex;
		text-transform: none;
		line-height: 2em;	
		z-index: 3;
		font-size: 0.875em;
		&:hover{ text-decoration: none; }
		& + .o-link::after {
			content: "\f105";
			font: normal normal normal 14px/1 FontAwesome;
			position: absolute;
			top: 44%;
			left: 7px;
			color: #d91539;
			transform: translateY(-50%);
			font-size: 17px;
			font-weight: bolder;
		}
		&:last-of-type { padding-right: 10px; }
		&:first-of-type { padding: 0; }
	}
	.o-icon { color: #1a335a; font-size: 17px; }
}	
